[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = ">=2.0.1"
pyngrok = ">=5.1.0"
viberbot = ">=1.0.11"
python-dotenv = ">=0.19.0"

[dev-packages]

[requires]
python_version = "3.9"
